
.vs/VSTU-projects/v16/Browse.VC.db-wal
.vs/VSTU-projects/v16/Browse.VC.db-shm
.vs/slnx.sqlite
.vs/VSTU-projects/v16/Browse.VC.db
.vs/VSTU-projects/v16/Browse.VC.opendb
.vs/VSTU-projects/v16/ipch/AutoPCH/ed17c5829a283af/LAB_№1.ipch
.vs/VSTU-projects/v16/Browse.VC.db
